upstream backend {
    server 192.168.10.3; #node1
    server 192.168.10.34; #node2
}

server {
    listen 80;
    server_name 192.168.10.6;
    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
    }
}

