upstream backend {
    server 192.168.10.40;
    server 192.168.10.29;
#    server 158.160.106.246;
#    server 89.169.145.187;
}

server {
    listen 80;
    server_name 192.168.10.33;
    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
    }
}

